/* Base styles */

.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 24vh;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.certi-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}

.certi-container .certi-box {
    position: relative;
    width: 275px;
    height: 175px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
}

.certi-box:hover {
    transform: rotateY(25deg);
}

.certi-container .certi-box:hover ~ .certi-box {
    transform: rotateY(-25deg);
}

.certi-container .certi-box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.certi-container .certi-box .certi-imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.certi-container .certi-box .certi-imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(201, 50, 50, 0.658),#00000079);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.certi-container .certi-box:hover .certi-imgBx:before {
    opacity: 1;
}

.certi-container .certi-box .certi-imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.certi-container .certi-box .certi-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.certi-container .certi-box .certi-content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.certi-container .certi-box:hover .certi-content h2 {
    transform: translateY(0px);
}

.certi-container .certi-box .certi-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    background-color: rgb(228, 48, 48);
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    transform: translateY(200px);
    transition-delay: 0.4s;
}

.certi-container .certi-box:hover .certi-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    transform: translateY(0px);
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
    .certificate-container {
        width: 80vw; /* Adjust width for smaller screens */
    }

    .certi-container .certi-box {
        width: 100%; /* Make each box take full width on smaller screens */
        margin-right: 0; /* Remove right margin */
        margin-bottom: 15px; /* Add bottom margin for spacing */
    }
}
