.about-containerr-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: black;
}

.about-leftside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60%;
    height: 100%;
    padding: 1rem;

    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

.about-background-image{
    width: 100%;
    height: 100%;

    opacity: 0.5;
}

.about-rightside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    height: 100vh;
    gap: 5rem;

    padding-top: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    border-left: 5px solid black;
    background-color: rgba(0, 0, 0, 0.356);
}

.about-rightside-container::-webkit-scrollbar {
    width: 0; /* Adjust the width of the scrollbar */
}

.right-about-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15vh;
}

.left-about-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15vh;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 100%;
}

.left-number{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 100%;
}

.number .line{
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.164);
}

.left-number .left-line{
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.164);
}

.number-value{
    font-weight: 800;
    font-size: 2.5rem;
    position:relative;
    left: 50%;

    color: rgb(255, 0, 0);
    font-size: 800;
}

.left-number-value{
    font-size: 2.5rem;
    font-weight: 800;
    position:relative;
    right: 50%;

    color: rgb(255, 0, 0);
    font-size: 800;
}

.right-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 15vh;
    /* margin-left: 50%; */
    padding: 2rem;

    font-size: 1.5rem;
    font-weight: 800;
    background-color: white;
    text-align: center;

    border-radius: 10px 0 0 10px;
    box-shadow: 5px 0px 50px #ffffff44
}

.empty{
    background-color: rgba(255, 255, 255, 0);
}

.left-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 15vh;
    /* margin-right: 50%; */
    padding: 2rem;

    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 0 10px 10px 0;
    background-color: white;
    box-shadow: 5px 0px 50px #ffffff44
}

.above-img-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0.5;
}

.left-side-title{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 40%;
    padding: 1rem;

    font-size: 5rem;
    font-weight: 700;
    color: white;
}

.left-side-title p span{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.left-side-links{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 10%;
    padding: 1rem;
    gap: 1.5rem;
}

.left-side-content{
    display: flex;
    justify-content: left;
    align-items: top;

    width: 100%;
    height: 45%;
    padding: 1rem;

    font-size: 1.25rem;
    color: white;
}

.left-side-links a{
    text-decoration: none;
    color: white;
}