.about-container-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.about-background-image{
    width: 100%;
    height: 100%;
    filter: contrast(140%) brightness(45%);
}

.above-img-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0.5;
}

.about-leftside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60%;
    height: 100%;
    padding: 1rem;

    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

.left-side-title{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 40%;
    padding: 1rem;

    font-size: 5rem;
    font-weight: 700;
    color: white;
}

.left-side-title p span{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.left-side-links{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 10%;
    padding: 1rem;
    gap: 1.5rem;
}

.left-side-links a{
    text-decoration: none;
    color: white;
}

.left-side-content{
    display: flex;
    justify-content: left;
    align-items: top;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 45%;
    padding: 1rem;

    font-size: 1.2rem;
    color: white;

    transition: all 1s ease-in-out;
}

.about-rightside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    border-left: 1px solid rgba(255, 255, 255, 0.205);
    background-color: rgba(0, 0, 0, 0.185);
}

.about-rightside-container::-webkit-scrollbar {
    width: 0; /* Adjust the width of the scrollbar */
}

/* Carousel Style */
.about-carousel-slide{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.about-custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #ff000086;
    border: none;
    padding: 2vw;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.about-custom-arrow-prev {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 999;
    left: 43.25%;
    height: 10%;
    top: 56%;
    width: 2vw;
}

.about-custom-arrow-next {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 999;
    right: 43.25%;
    top: 56%;
    height: 10%;
    width: 2vw;
}

.about-custom-arrow:hover {
    color: #ff0000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.about-carousel-image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 40vw;
    height: 100vh;
    padding: 10rem;
}

.about-carousel-title{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40%;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.additional-info-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 20%;

    font-size: 1.75rem;
    font-weight: 200;
    color: rgb(211, 211, 211);
    text-transform: uppercase;
}

.about-carousel-keywords{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35vw;
    height: 20%;

    font-size: 1.25rem;
    font-weight: 200;
    color: rgb(211, 211, 211);
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .about-carousel-title{
        width: 40dvw;
        height: 20dvh;
        margin-top: -1rem;
    }

    .additional-info-container{
        width: 30dvw;
        height: 10dvh;
        font-size: 1.15rem;
        margin-top: -2.5rem;
    }
}

@media screen and (max-width: 412px) {
    .above-img-container{
        width: 100dvw;
        height: 100dvh;
        flex-direction: column;
    }

    .about-leftside-container{
        width: 100dvw;
        height: 70dvh;
    }

    .left-side-title{
        width: 100dvw;
        height: 15dvh;
        padding-top: 4rem;
        margin-top: 2rem;
    }

    .left-side-title p{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .left-side-title p span{
        font-size: 2rem;
    }

    .left-side-links{
        width: 100dvw;
        height: 10dvh;
    }

    .left-side-content{
        overflow-y: auto;
        font-size: 0.85rem;
        height: 50%;
    }

    .about-rightside-container{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100dvw;
        height: 30dvh;
    }

    .about-carousel-slide{
        width: 100%;
        height: 100%;
    }

    .about-carousel-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-carousel-title{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100dvw;
        height: 10dvh;
        font-size: 1rem;
        margin-top: 8rem;
        padding-top: 2rem;
    }

    .additional-info-container{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60dvw;
        height: 30dvh;
        gap: 0.5rem;
    }

    .about-carousel-type,
    .about-carousel-year{
        font-size: 1rem;
        margin-bottom: -2rem;
    }

    .about-carousel-keywords{
        width: 100dvw;
        height: 10dvh;
        padding: 1rem;
        font-size: 0.7rem;
        margin-bottom: 11rem;
    }

    .about-custom-arrow-prev {
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        z-index: 9999;

        top: 47.35%;
    }
    
    .about-custom-arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        z-index: 9999;

        top: 47.35%;
    }
}