.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;    
}

.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 100%;
    padding: 2rem;

    text-align: center;
    font-size: 4rem;
    font-weight: 700;

    color: rgba(37, 37, 37, 1.0);
}

.contact-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 100%;
    margin-top: 6.5vh;

    background-color: rgba(37, 37, 37, 1.0);
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, .75);
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25%;

    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    white-space: 2rem;

    text-transform: capitalize;

    color: white;
}

.message p span{
    color: red;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75%;

    background-color: #000000;
}

.email-video-image{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    object-fit: cover;
    opacity: 0.8;
}

.email a{
    position: absolute;
}

.email-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    background-color: #db343483;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.email-button:hover {
    background-color: #ff0000;
    font-size: 1.25rem;
    font-weight: 700;
}
