@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    height: 100%;
    gap: 0.5em;

    animation: intro-right 1.25s ease-in-out forwards;

    color: white;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 0px 8px -9px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);
}

.contact-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 30%;
    height: 100%;

    transform: translateY(100vw);
    animation: intro-left 1.25s ease-in-out forwards;

    background-color: rgb(240, 240, 240);
}

.contact-title{
    font-family: "Lora", serif;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.contact-line{
    width: 14vw;
    height: 1.75px;

    background-color: red;
    box-shadow: 0px 0px 10px 0px rgb(253, 0, 0);
}