@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    height: 100%;

    animation: intro-right 1.25s ease-in-out forwards;

    color: white;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 0px 8px -9px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.home-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 30%;
    height: 100%;

    transform: translateY(100vw);
    animation: intro-left 1.25s ease-in-out forwards;

    background-color: rgb(240, 240, 240);
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 25vw;
    height: 10vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    gap: 0.5em;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

@keyframes intro-left {
    0% {
        transform: translateY(100vw);
    }

    100% {
        transform: translateY(0vw);
    }
}

@keyframes intro-right {
    0% {
        transform: translateY(-100vw);
    }

    100% {
        transform: translateY(0vw);
    }
}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2em;
}

.cover-picture {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;

    background-color: aqua;

    object-fit: cover;
}

.home-intro-container {
    display: flex;
    justify-content: start;
    align-items: end;

    width: 60%;
    height: 10%;
    opacity: 0;

    font-family: "Lora", serif;
    text-transform: capitalize;

    animation: fade-down 1s ease-in-out forwards;
    animation-delay: 1s;
}

.home-intro-name {
    display: flex;
    justify-content: start;
    align-items: end;

    width: 60%;
    height: 10%;
    opacity: 0;

    font-family: "Lora", serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;

    color: red;

    animation: fade-down 1s ease-in-out forwards;
    animation-delay: 1.25s;
}

.home-short-desc {
    display: flex;
    justify-content: start;
    align-items: start;

    width: 60%;
    height: 10%;

    font-family: "Lora", serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    opacity: 0;

    color: rgba(255, 0, 0, 0.5);

    animation: fade-down 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

.home-line {
    display: flex;
    justify-content: start;
    align-items: start;

    width: 0%;
    height: 2px;

    background-color: red;
    box-shadow: 0px -5px 10px 0px rgb(255, 0, 0),
        /* White shadow on top */
        0px 5px 10px 0px rgb(255, 255, 255);
    /* Red shadow on bottom */

    animation: home-line-expand 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

.home-short-about {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 60%;
    height: 30%;
    opacity: 0;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 600;

    color: rgba(255, 255, 255, 0.5);

    animation: fade-down 1s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-5vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes home-line-expand{
    0%{
        width: 0;
    }

    100%{
        width: 60%;
    }
}

.name-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 10%;

    font-family: "Lora", serif;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;

    opacity: 0;

    border-left: 2.5px solid red;

    color: red;
    animation: portfolio-slide-in 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes portfolio-slide-in {
    0% {
        opacity: 0;
        transform: translate(-10vw, 1em);
    }

    100% {
        opacity: 1;
        transform: translate(0vw, 1em);
    }
}