@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.projects-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 11;

    width: 30%;
    height: 100%;
    gap: 0.5em;

    animation: intro-right 1.25s ease-in-out forwards;

    color: white;
    background-color: rgb(27, 27, 27);

    box-shadow: 25px 0px 30px -20px rgba(0, 0, 0, 0.45),
    0px 0px 30px -20px rgba(0, 0, 0, 0.45);
}

.projects-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    height: 100%;

    transform: translateY(100vw);
    animation: intro-left 1.25s ease-in-out forwards;

    background-color: rgb(240, 240, 240);
}

.projects-title{
    font-family: "Lora", serif;
    font-size: 2.5vw;
    text-transform: uppercase;

    color: red;
}

.projects-line{
    width: 15vw;
    height: 2px;

    background-color: red;
    box-shadow: 0px 0px 10px 0px rgb(253, 0, 0);
}