@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.skills-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 100%;

    gap: 0.5em;
    overflow-x: hidden;
    color: white;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 0px 8px -9px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.skills-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-family: "Lora", serif;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.skills-line {
    width: 12vw;
    height: 2px;
    margin-top: 1vh;
    background-color: red;
    box-shadow: 0px 0px 10px 0px rgb(253, 0, 0);
}

.mount-skill-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: opacity 0.5s, height 0.5s;
}

.mounted {
    height: 90%;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;
    animation: fly-up 0.5s ease forwards;
}

@keyframes fly-up {
    from {
        height: 0%;
        opacity: 0;
    }

    to {
        height: 90%;
        opacity: 1;
    }
}

.skills-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
    transform: translateY(10px);
}

.skills-close-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.skills-close-button:hover{
    color: red;
    transition: all 0.2s ease-in-out;
}

.technical-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 90%;
}

.technical-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;

    width: 100%;
    height: 90%;
}

.academic-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 90%;
}

.technical-skill-item-titles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
    font-family: "Lora", serif;
    font-size: 1vw;
    text-align: center;
    text-transform: capitalize;
    color: rgb(70, 70, 70);
}

.main-title{
    font-family: "Lora", serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: rgb(32, 32, 32);
}

.sub-title{
    font-family: "Lora", serif;
    font-size: 0.8vw;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: rgb(160, 0, 0);
    margin-top: -5vh;
}

.academic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: aqua;
}

.skills-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    height: 80%;
}

.certificates-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 0.5rem;
}

.certificate-header{
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    font-family: "Lora", serif;
    font-size: 0.8vw;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: rgb(70, 70, 70);
}

.certificate-subheader{
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    margin-top: -1vh;
    font-family: "Lora", serif;
    font-size: 0.8vw;
    text-align: center;
    text-transform: capitalize;
    color: rgb(160, 0, 0);
}

.certificates-skills ul{
    font-family: "Lora", serif;
    font-size: 0.7vw;
    text-align: left;
    text-transform: capitalize;
    color: rgb(70, 70, 70);

    margin-top: 10px;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
}

.skill-container-line {
    width: 12vw;
    height: 2px;
    margin-top: 1vh;
    background-color: red;
}

.alt {
    width: 12vw;
    height: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1.5vw;

    color: red;
    filter: brightness(1);
}

.click-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1vw;
    font-style: italic;

    width: 100%;
    height: 0%;
    opacity: 0;
    margin-top: 0.5em;

    color: rgba(255, 255, 255, 0.5);
    filter: brightness(1);
}

.top-left:hover .click-me {
    opacity: 1;
    height: 10%;
    transition: all 0.3s ease-in-out;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1.5vw;
}

.top-right:hover .click-me {
    opacity: 1;
    height: 10%;
    color: rgba(255, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
}

.bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1.5vw;
}

.bottom-left:hover .click-me {
    opacity: 1;
    height: 10%;
    color: rgba(255, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
}

.bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    font-family: "Lora", serif;
    text-transform: capitalize;
    font-size: 1.5vw;

    color: red;
    filter: brightness(1);
}

.bottom-right:hover .click-me {
    opacity: 1;
    height: 10%;
    transition: all 0.3s ease-in-out;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
}