.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 0.5em;
    overflow-x: hidden;
    color: white;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 0px 8px -9px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);
}

.skills-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.skills-title {
    font-family: "Lora", serif;
    font-size: 3em;
    text-transform: uppercase;
}

.skills-line {
    width: 15vw;
    height: 2px;
    background-color: red;
    box-shadow: 0px 0px 10px 0px rgb(253, 0, 0);
}

.skill-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.skills-grid {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    /* 2 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows with equal height */
    width: 100%;
    /* Fill parent div horizontally */
    height: 100%;
    /* Fill parent div vertically */

    overflow: hidden;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 24px;
    /* Adjust font size as needed */

    width: 100%;
    height: 100%;

    padding: 0.5em;
}

.card:hover {
    box-shadow: inset 0px 0px 100px 9px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.card:hover .card-title {
    color: rgba(255, 0, 0, 0.849);
    transition: all 0.3s ease-in-out;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgb(240, 240, 240);
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;

    transform: scale(1.5);

    color: rgba(190, 0, 0, 0.849);
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    background-color: aqua;
}