/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}

.primary-container-wrapper {
  display: flex;
  overflow-x: auto; /* Change overflow to horizontal */
  overflow-y: hidden; /* Hide vertical overflow */
  width: 100vw; /* Ensure the container takes full viewport width */
  height: 100vh;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.main-container {
  display: flex; /* Allow containers to be placed horizontally */
  flex-direction: row; /* Set the direction to horizontal */
  overflow-y: hidden; /* Hide vertical overflow */
  overflow-x: hidden; /* Hide vertical overflow */
  scroll-snap-type: x mandatory; /* Enable mandatory snapping along the x-axis */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.page {
  flex: 0 0 100vw; /* Each page takes full viewport width */
  height: 100vh; /* Ensure full viewport height */
  overflow-y: hidden; /* Hide vertical overflow */
  scroll-snap-align: start; /* Snap each page to the start of the viewport */
}

.page.darken {
  filter: brightness(0.5); /* Adjust the brightness value to control the darkness */
  transition: all 0.3s ease-in-out;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 30vw;
  height: 100vh;
  background-color: transparent;
  transform: translateX(-25vw);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.nav-container.open {
  background-color: rgb(27, 27, 27);
  transform: translateX(0); /* Translate to 0vw when open */
  transition: all 0.3s ease-in-out;
}

.nav-state-toggle{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 20;

  width: 5vw;
  height: 5vw;

  top: 0;
  right: 0;

  transform: translateX(-50px);

  color: white;

  animation: pop-out 2s ease forwards;
  animation-delay: 5s;
}

@keyframes pop-out{
  0%{
    transform: translateX(-50px);
  }

  60%{
    transform: translateX(10px);
  }

  100%{
    transform: translateX(0px);
  }
}

.nav-container .nav-title{
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 40%;

  font-family: "Lora", serif;
  font-size: 2.5vw;
  padding-left: 1.75rem;

  color: white;
}

.nav-container .nav-items{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;

  width: 100%;
  height: 60%;

  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
  gap: 1em;

  color: white;
}

.nav-items .item{
  display: flex;
  justify-content: left;
  align-items: center;

  font-family: "Lora", serif;

  width: 100%;
  height: 10%;
  font-size: 1vw;
}

.nav-container .nav-items li{
  font-weight: 600;
  text-transform: uppercase;
}

.nav-container .nav-items li:hover{
  font-weight: 700;
  letter-spacing: 0.5em;
  color: red;
  transition: all 0.1s ease-in-out;
}

.item:hover {
  border-right: 2px solid red;
}